@import url(https://fonts.googleapis.com/css?family=Mulish:300,400,600,700,800,&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.item-main-galary__favorite::before,
.socials__item_instagram::before,
.socials__item_twitter::before,
.socials__item_facebook::before,
.navigation-header__favorite::before,
.navigation-header__cart::before,
.navigation-header__user::before,
.navigation-header__search-button::before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-cart:before {
  content: "\e901";
}

._icon-check:before {
  content: "\e903";
}

._icon-facebook:before {
  content: "\e904";
}

._icon-favorite:before {
  content: "\e905";
}

._icon-inastagram:before {
  content: "\e907";
}

._icon-search:before {
  content: "\e908";
}

._icon-twitter:before {
  content: "\e909";
}

._icon-user:before {
  content: "\e90a";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Mulish";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Mulish";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 83.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 3.125rem;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:checked + .checkbox__label:before {
  background: #ed165f;
  border: none;
}

.checkbox__input:checked + .checkbox__label::after {
  display: block;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  width: 24px;
  height: 24px;
  border: 0.5px solid #000000;
  border-radius: 4px;
}

.checkbox__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../img/check.svg") 50% no-repeat;
  display: none;
}

.select {
  position: relative;
  z-index: 5;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

.select_control {
  min-width: 210px;
}

.select_control .select__title {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 0;
}

.select_control .select__value {
  padding: 0 1rem;
  height: 2.3125rem;
  gap: 0.5rem;
}

.select_control .select__value::after {
  content: "";
  background: url("../img/arrow-bottom.svg") 50%/contain no-repeat;
  width: 9px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9px;
          flex: 0 0 9px;
}

.select_control .select__content {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
}

.select .select__options {
  padding: 5px 0px;
  border: 1px solid #000000;
  border-top: none;
  top: 35px;
  border-radius: 0;
}

.select .select__option {
  -webkit-transition: color, background-color 0.7s ease 0s;
  -o-transition: color, background-color 0.7s ease 0s;
  transition: color, background-color 0.7s ease 0s;
  font-weight: 600;
  line-height: 129%;
  letter-spacing: 0.2px;
  padding: 10px 25px;
}

._select-tag {
  cursor: pointer;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-pagination-bullet {
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 16px;
  height: 16px;
  background: #ed165f;
  border: 2px solid #fff;
  border-radius: 50%;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}

.main-title {
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 60%;
  letter-spacing: 3px;
}

.pagging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

.pagging__arrow {
  width: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.pagging__arrow::before {
  content: "";
  width: 10px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/galary/arrow.svg") 50%/contain no-repeat;
}

.pagging__arrow_left:disabled {
  display: none;
}

.pagging__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagging__item {
  padding-bottom: 20px;
  position: relative;
}

.pagging__item._active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #ed165f;
  bottom: -2px;
}

.pagging__link {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.2px;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 20px;
}

.up {
  width: 60px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  right: 50px;
}

.up::before {
  content: "";
  width: 18px;
  height: 9px;
  background: url("../img/arrow-up.svg") 50%/contain no-repeat;
}

.main-galary__top:not(:last-child) {
  margin-bottom: 3.75rem;
}

.main-galary__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);
}

.main-galary__control:not(:last-child) {
  margin-bottom: 2rem;
}

.main-galary__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  row-gap: 4.0625rem;
}

@supports (margin-bottom: clamp( 3.125rem , 2.3214285714rem  +  4.0178571429vw , 5.9375rem )) {
  .main-galary__items {
    margin-bottom: clamp( 3.125rem , 2.3214285714rem  +  4.0178571429vw , 5.9375rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.3214285714rem  +  4.0178571429vw , 5.9375rem )) {
  .main-galary__items {
    margin-bottom: calc(3.125rem + 2.8125 * (100vw - 20rem) / 70);
  }
}

.main-galary__items_small-gap {
  gap: 2rem;
}

.main-galary__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.page__main {
  background: #ed165f;
  padding-bottom: 30px;
  padding-top: 70px;
}

@supports (padding-top: clamp( 1.875rem , 1.25rem  +  3.125vw , 4.0625rem )) {
  .page__galary {
    padding-top: clamp( 1.875rem , 1.25rem  +  3.125vw , 4.0625rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.25rem  +  3.125vw , 4.0625rem )) {
  .page__galary {
    padding-top: calc(1.875rem + 2.1875 * (100vw - 20rem) / 70);
  }
}

@supports (padding-bottom: clamp( 4.375rem , 3.3035714286rem  +  5.3571428571vw , 8.125rem )) {
  .page__galary {
    padding-bottom: clamp( 4.375rem , 3.3035714286rem  +  5.3571428571vw , 8.125rem );
  }
}

@supports not (padding-bottom: clamp( 4.375rem , 3.3035714286rem  +  5.3571428571vw , 8.125rem )) {
  .page__galary {
    padding-bottom: calc(4.375rem + 3.75 * (100vw - 20rem) / 70);
  }
}

@supports (padding-top: clamp( 5rem , 4.8214285714rem  +  0.8928571429vw , 5.625rem )) {
  .page__clothes {
    padding-top: clamp( 5rem , 4.8214285714rem  +  0.8928571429vw , 5.625rem );
  }
}

@supports not (padding-top: clamp( 5rem , 4.8214285714rem  +  0.8928571429vw , 5.625rem )) {
  .page__clothes {
    padding-top: calc(5rem + 0.625 * (100vw - 20rem) / 70);
  }
}

@supports (padding-bottom: clamp( 4.375rem , 3.3035714286rem  +  5.3571428571vw , 8.125rem )) {
  .page__clothes {
    padding-bottom: clamp( 4.375rem , 3.3035714286rem  +  5.3571428571vw , 8.125rem );
  }
}

@supports not (padding-bottom: clamp( 4.375rem , 3.3035714286rem  +  5.3571428571vw , 8.125rem )) {
  .page__clothes {
    padding-bottom: calc(4.375rem + 3.75 * (100vw - 20rem) / 70);
  }
}

@supports (padding-top: clamp( 6.25rem , 5.625rem  +  3.125vw , 8.4375rem )) {
  .page__user-account {
    padding-top: clamp( 6.25rem , 5.625rem  +  3.125vw , 8.4375rem );
  }
}

@supports not (padding-top: clamp( 6.25rem , 5.625rem  +  3.125vw , 8.4375rem )) {
  .page__user-account {
    padding-top: calc(6.25rem + 2.1875 * (100vw - 20rem) / 70);
  }
}

@supports (padding-bottom: clamp( 4.375rem , 1.6964285714rem  +  13.3928571429vw , 13.75rem )) {
  .page__user-account {
    padding-bottom: clamp( 4.375rem , 1.6964285714rem  +  13.3928571429vw , 13.75rem );
  }
}

@supports not (padding-bottom: clamp( 4.375rem , 1.6964285714rem  +  13.3928571429vw , 13.75rem )) {
  .page__user-account {
    padding-bottom: calc(4.375rem + 9.375 * (100vw - 20rem) / 70);
  }
}

.main-button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 6px;
  background: #ed165f;
  padding: 0.6875rem 1.6875rem;
  color: #fff;
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 133%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #ed165f;
}

.form__error {
  color: #ed165f;
  font-weight: 800;
}

.products__title:not(:last-child) {
  margin-bottom: 4.0625rem;
}

.products__body {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  row-gap: 1.25rem;
}

.products__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.filter-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}

.item-filter-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.item-filter-products__title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 90%;
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);
  cursor: pointer;
  position: relative;
}

.item-filter-products__title:not(:last-child) {
  margin-bottom: 2rem;
}

.item-filter-products__title::before {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../img/arrow-bottom.svg") 50%/contain no-repeat;
  display: none;
}

.item-filter-products__clear {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 129%;
  color: #c4c4c4;
  z-index: 2;
}

.item-filter-products__clear::after {
  content: "+";
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.category-item-filter-products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}

.category-item-filter-products__item {
  color: #686868;
  font-weight: 600;
  font-size: 1rem;
  line-height: 112%;
}

.category-item-filter-products__item ._item-active {
  color: #ed165f;
}

.category-item-filter-products__link-all {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.category-item-filter-products__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.size-item-filter-products__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.size-item-filter-products__body_gap {
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}

.size-item-filter-products__link {
  padding: 0.4375rem 0.4375rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54px;
          flex: 0 0 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.size-item-filter-products__link_flex {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75px;
          flex: 0 0 75px;
}

.size-item-filter-products__link._size-link-active {
  color: #fff;
  background: #ed165f;
}

.color-item-filter-products__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 290px;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.color-item-filter-products__link {
  line-height: 129%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.4375rem;
     -moz-column-gap: 0.4375rem;
          column-gap: 0.4375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 4.875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 29%;
          flex: 1 1 29%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.color-item-filter-products__link._active-color {
  color: #ed165f;
}

.color-item-filter-products__link._active-color::before {
  border: 2px solid #ed165f;
}

.color-item-filter-products__link::before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  border-radius: 2px;
  width: 2rem;
  height: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}

.color-item-filter-products__link_Beige::before {
  content: "";
  border-radius: 2px;
  width: 2rem;
  height: 2rem;
  background: #f3ecdb;
}

.color-item-filter-products__link_Blue::before {
  background: #465ba3;
}

.color-item-filter-products__link_Black::before {
  background: #000;
}

.color-item-filter-products__link_Orange::before {
  background: #f07b4e;
}

.color-item-filter-products__link_Green::before {
  background: #41854d;
}

.color-item-filter-products__link_Brown::before {
  background: #665147;
}

.color-item-filter-products__link_Purple::before {
  background: #893d88;
}

.color-item-filter-products__link_Gold::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#f3b121), color-stop(53.65%, rgba(255, 203, 90, 0.567708)), to(#ffc954));
  background: -o-linear-gradient(top, #f3b121 0%, rgba(255, 203, 90, 0.567708) 53.65%, #ffc954 100%);
  background: linear-gradient(180deg, #f3b121 0%, rgba(255, 203, 90, 0.567708) 53.65%, #ffc954 100%);
}

.color-item-filter-products__link_Taupe::before {
  background: #cac1b8;
}

.color-item-filter-products__link_White::before {
  background: #ffffff;
  border: 0.5px solid #000000;
}

.color-item-filter-products__link_Pink::before {
  background: #f2a1b1;
}

.color-item-filter-products__link_Red::before {
  background: #d23c47;
}

.price-item-filter-products__body {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}

.price-item-filter-products__link {
  font-weight: 600;
  line-height: 129%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.price-item-filter-products__link._active-price .price-item-filter-products__check {
  background: #ed165f;
}

.price-item-filter-products__link._active-price .price-item-filter-products__check::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.price-item-filter-products__check {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
  width: 27px;
  height: 27px;
  border: 0.5px solid #000000;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.price-item-filter-products__check::before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/check.svg") 50% no-repeat;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  background: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.90625rem 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  max-width: 1165px;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 415px;
          flex: 0 1 415px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
}

.header__burger-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.25rem;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  font-size: 1.875rem;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.menu__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  line-height: 129%;
  letter-spacing: 0.2px;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  position: relative;
}

.menu__link::before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background: #ed165f;
}

.navigation-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 415px;
          flex: 0 1 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  font-size: 1rem;
}

.navigation-header__search-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-header__search {
  padding-bottom: 0.125rem;
  padding-top: 0.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.2px;
  outline: none;
  color: #ed165f;
  font-weight: 800;
}

.navigation-header__search::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.5);
}

.navigation-header__search::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.5);
}

.navigation-header__search:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.5);
}

.navigation-header__search::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.5);
}

.navigation-header__search::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.5);
}

.navigation-header__search-button::before {
  content: "\e908";
}

.navigation-header__user::before {
  content: "\e90a";
}

.navigation-header__cart::before {
  content: "\e901";
}

.navigation-header__favorite::before {
  content: "\e905";
}

.icon-menu {
  display: none;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  row-gap: 1.5625rem;
}

@supports (padding-top: clamp( 1.5625rem , 0.8482142857rem  +  3.5714285714vw , 4.0625rem )) {
  .footer__container {
    padding-top: clamp( 1.5625rem , 0.8482142857rem  +  3.5714285714vw , 4.0625rem );
  }
}

@supports not (padding-top: clamp( 1.5625rem , 0.8482142857rem  +  3.5714285714vw , 4.0625rem )) {
  .footer__container {
    padding-top: calc(1.5625rem + 2.5 * (100vw - 20rem) / 70);
  }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.8482142857rem  +  3.5714285714vw , 4.0625rem )) {
  .footer__container {
    padding-bottom: clamp( 1.5625rem , 0.8482142857rem  +  3.5714285714vw , 4.0625rem );
  }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.8482142857rem  +  3.5714285714vw , 4.0625rem )) {
  .footer__container {
    padding-bottom: calc(1.5625rem + 2.5 * (100vw - 20rem) / 70);
  }
}

.footer__body-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column_wide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__column_small {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer-menu__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.socials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.socials__item:hover {
  color: #ed165f;
}

.socials__item::before {
  content: "";
  color: #ed165f;
}

.socials__item_facebook::before {
  content: "\e904";
}

.socials__item_twitter::before {
  content: "\e909";
}

.socials__item_instagram::before {
  content: "\e907";
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.4375rem;
}

.subscribe__label {
  cursor: pointer;
}

.subscribe__input-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input-body .form__error {
  position: absolute;
  top: 0;
  right: 4.375rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  border: 1px solid #ed165f;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  outline: none;
}

.subscribe__button {
  background: #ed165f;
  color: #fff;
  padding: 0 20px;
  border-radius: 0px 5px 5px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #ed165f;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.contacts__item:hover {
  text-decoration: underline;
}

.main-page {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page__body {
  padding: 0 11px;
}

.main-page__slider {
  height: 100%;
}

.main-page__slider:not(:last-child) {
  margin-bottom: 1.875rem;
}

.main-page__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 26px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (margin-bottom: clamp( 1.25rem , 0.4464285714rem  +  4.0178571429vw , 4.0625rem )) {
  .main-page__pagination:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.4464285714rem  +  4.0178571429vw , 4.0625rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.4464285714rem  +  4.0178571429vw , 4.0625rem )) {
  .main-page__pagination:not(:last-child) {
    margin-bottom: calc(1.25rem + 2.8125 * (100vw - 20rem) / 70);
  }
}

.main-page__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-page__item {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.5rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (font-size: clamp( 1.25rem , 1.0714285714rem  +  0.8928571429vw , 1.875rem )) {
  .main-page__item {
    font-size: clamp( 1.25rem , 1.0714285714rem  +  0.8928571429vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0714285714rem  +  0.8928571429vw , 1.875rem )) {
  .main-page__item {
    font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 70);
  }
}

.no-webp .main-page__item::after{
  background: url("../img/main-page/block-down.png") 50%/contain no-repeat; }

.main-page__item::after {
  content: "";
  width: 1.5625rem;
  height: 1.5625rem;
}

.no-webp .slide-body{
  background: url("../img/main-page/2.png") 50%/contain no-repeat; }

.slide-body {
  max-width: 1095px;
  margin: 0 auto;
  position: relative;
}

.slide-body__img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 666px;
  margin: 0 auto;
  height: calc(100vh - 255px);
  min-height: 260px;
}

.slide-body__main-image-ibg {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  z-index: 2;
}

.slide-body__main-image-ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.top-main-galary {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-main-galary__title {
  position: relative;
  width: 100%;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (font-size: clamp( 1.875rem , 1.6964285714rem  +  0.8928571429vw , 2.5rem )) {
  .top-main-galary__title {
    font-size: clamp( 1.875rem , 1.6964285714rem  +  0.8928571429vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.6964285714rem  +  0.8928571429vw , 2.5rem )) {
  .top-main-galary__title {
    font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 70);
  }
}

.top-main-galary__title:not(:last-child) {
  margin-bottom: 2rem;
}

.top-main-galary__text {
  line-height: 146%;
  max-width: 1100px;
  text-align: center;
  padding: 0 11px;
}

@supports (font-size: clamp( 1rem , 0.8571428571rem  +  0.7142857143vw , 1.5rem )) {
  .top-main-galary__text {
    font-size: clamp( 1rem , 0.8571428571rem  +  0.7142857143vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8571428571rem  +  0.7142857143vw , 1.5rem )) {
  .top-main-galary__text {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 70);
  }
}

.item-main-galary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.item-main-galary__image-ibg {
  overflow: hidden;
  padding-bottom: 153.8720538721%;
}

.item-main-galary__image-ibg img {
  -o-object-fit: contain;
     object-fit: contain;
}

.item-main-galary__body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.25rem;
  row-gap: 0.9375rem;
  height: 100%;
  padding-bottom: 1.875rem;
}

.item-main-galary__title {
  line-height: 70%;
  letter-spacing: 0.2px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.item-main-galary__price {
  font-family: "Roboto";
}

.item-main-galary__pick {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.089);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 0.8125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-main-galary__favorite {
  width: 2.1875rem;
  height: 2.1875rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-main-galary__favorite::before {
  font-size: 1rem;
  content: "\e905";
  color: #ed165f;
}

.item-main-galary__add {
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 140%;
  letter-spacing: 0.2px;
  background: #ffffff;
  border-radius: 2px;
  padding: 12px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.6875rem;
     -moz-column-gap: 0.6875rem;
          column-gap: 0.6875rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-main-galary__add::after {
  content: "";
  width: 14px;
  height: 14px;
  background: url("../img/galary/cart.svg") 0 0/cover no-repeat;
}

.user-account__container {
  max-width: 980px;
}

.user-account__top:not(:last-child) {
  margin-bottom: 4.0625rem;
}

.user-account__title:not(:last-child) {
  margin-bottom: 1rem;
}

.user-account__subtitle {
  font-size: 1.25rem;
  line-height: 90%;
  letter-spacing: 0.2px;
}

.user-account__forms {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: 60px;
}

@supports ((-moz-column-gap: clamp( 3.125rem , -14.0625rem  +  39.2857142857vw , 10rem )) or (column-gap: clamp( 3.125rem , -14.0625rem  +  39.2857142857vw , 10rem ))) {
  .user-account__forms {
    -webkit-column-gap: clamp( 3.125rem , -14.0625rem  +  39.2857142857vw , 10rem );
       -moz-column-gap: clamp( 3.125rem , -14.0625rem  +  39.2857142857vw , 10rem );
            column-gap: clamp( 3.125rem , -14.0625rem  +  39.2857142857vw , 10rem );
  }
}

@supports not ((-moz-column-gap: clamp( 3.125rem , -14.0625rem  +  39.2857142857vw , 10rem )) or (column-gap: clamp( 3.125rem , -14.0625rem  +  39.2857142857vw , 10rem ))) {
  .user-account__forms {
    -webkit-column-gap: calc(3.125rem + 6.875 * (100vw - 43.75rem) / 17.5);
       -moz-column-gap: calc(3.125rem + 6.875 * (100vw - 43.75rem) / 17.5);
            column-gap: calc(3.125rem + 6.875 * (100vw - 43.75rem) / 17.5);
  }
}

.main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.main-form:not(:last-child) {
  margin-bottom: 1.875rem;
}

.main-form__title {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 90%;
  letter-spacing: 0.2px;
}

.main-form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.main-form__input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.main-form__input {
  border: 1px solid #000000;
  border-radius: 6px;
  height: 60px;
  padding: 0.625rem;
  font-size: 16px;
  font-weight: 600;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .header__burger-navigation {
    display: none;
  }

  .navigation-header__search-body:not(:last-child) {
    margin-right: 0.625rem;
  }
}

@media (min-width: 40.93625em) {
  .products__body {
    -ms-grid-columns: 301px 1fr;
    grid-template-columns: 301px 1fr;
  }

  .filter-products__item {
    padding-top: 21px;
  }

  .item-filter-products__clear {
    top: 21px;
  }
}

@media (min-width: 47.99875em) {
  .menu__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 50.625em) {
  .menu__link {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
}

@media (min-width: 58.49875em) {
  .footer__column_small {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 61.99875em) {
  .top-main-galary__title::before {
    content: "";
    height: 1px;
    background: #000;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .top-main-galary__title::after {
    content: "";
    height: 1px;
    background: #000;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .item-main-galary__pick {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
  }
}

@media (min-width: 90em) {
  .main-galary__control {
    padding-right: 1.75rem;
  }

  .main-galary__items_small-gap {
    padding-left: 2.25rem;
  }
}

@media (max-width: 90em) {
  .up {
    right: 11px;
  }

  [class*=__container] {
    padding-left: 11px;
    padding-right: 11px;
  }
}

@media (max-width: 61.99875em) {
  .navigation-header {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .top-main-galary__title {
    padding: 0 11px;
  }
}

@media (max-width: 49.99875rem) {
  .top-main-galary__text br {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .menu__body {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ed165f;
    color: #fff;
    font-size: 25px;
    padding-top: 100px;
  }

  .menu-open .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ed165f;
    color: #fff;
    font-size: 25px;
    padding-top: 100px;
  }

  .navigation-header {
    font-size: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
    width: 50%;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
    width: 70%;
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    background-color: #fff;
    width: 100%;
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    background-color: #fff;
    width: 100%;
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 40.93625em) {
  .filter-products {
    row-gap: 1.25rem;
  }

  .item-filter-products__title {
    padding-left: 2.5rem;
  }

  .item-filter-products__title._spoller-active::before {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .item-filter-products__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url("../img/arrow-bottom.svg") 50%/contain no-repeat;
    display: block;
  }
}

@media (max-width: 34.24875em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__column_wide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscribe {
    row-gap: 0.625rem;
  }

  .subscribe__input {
    width: 100%;
  }
}

@media (max-width: 29.99875em) {
  .up {
    bottom: 60px;
  }

  .main-galary__items {
    row-gap: 2.5rem;
  }

  .navigation-header__search {
    max-width: 6.25rem;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .select .select__option:hover {
    font-weight: 800;
    color: #fff;
    background: #ed165f;
  }

  .up:hover {
    background: rgba(237, 22, 94, 0.6509803922);
  }

  .main-button:hover {
    background: #fff;
    color: #ed165f;
  }

  .menu__link:hover {
    color: #ed165f;
    font-weight: 800;
  }

  .menu__link:hover::before {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ed165f;
  }

  .footer-menu__link:hover {
    text-decoration: underline;
  }

  .subscribe__button:hover {
    background: #fff;
    color: #ed165f;
  }

  .main-page__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .item-main-galary__image-ibg:hover .item-main-galary__pick {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .item-main-galary__add:hover {
    background: #ec83a6;
    color: #fff;
  }
}

.webp .main-page__item::after{ background: url(../img/main-page/block-down.webp) 50%/contain no-repeat; }

.webp .slide-body{ background: url(../img/main-page/2.webp) 50%/contain no-repeat; }